*~
.idea/
.project
.settings/
Thumbs.db
*.log
*.tgz

*.ts
!*.d.ts
*.ngsummary.json
yarn.lock

rollup.config.mjs
tsconfig.json
tsconfig.json
tsconfig-es5-bundle.json
tsconfig-ngc-flat.json
tsconfig-ngc-lib.json

src/
demo/
docs/
tmp/
